boto3==1.9.193
botocore==1.12.193
certifi==2019.6.16
chardet==3.0.4
Django==2.2.20
django-cors-headers==3.0.2
django-soet==1.0
djangorestframework==3.10.1
django-crontab==0.7.1
docutils==0.14
idna==2.8
jmespath==0.9.4
json2xml==3.0.1
lxml==4.4.0
passlib==1.7.1
pyasn1==0.4.5
python-dateutil==2.8.0
python-jose==3.0.1
python-keycloak==0.17.4
pytz==2019.1
requests==2.22.0
rsa==4.0
sqlparse==0.3.0
urllib3==1.25.3
fcm-django==0.2.21
pyfcm==1.4.5
